.message-form.js-message-form.input-group.mb-3
  %input.form-control.message-form--input.js-message-form--input{:autofocus => "", :type => "text"}
  .input-group-append
    %button.btn.btn-outline-secondary.message-form--submit.js-message-form--submit
      Send
      %i.fas.fa-paper-plane
