<div class="message-form js-message-form input-group mb-3">
  <input type="text" class="form-control message-form--input js-message-form--input" autofocus>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary message-form--submit js-message-form--submit">Send</button>
  </div>
</div>
